<div class="banner">
  <div class="container">
    <h1 class='m-1'>Votre <strong>Cave à vin</strong> au fond de votre poche !</h1>
    <p>Pour tous les amateurs qui oublient parfois d'où viennent leurs bouteilles</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
