<div class="banner">
  <div class="container">
    <h1 class='m-2'>Votre <strong>Cave à vin</strong> au fond de votre poche !</h1>
    <p class='m-2'>Pour tous les amateurs qui oublient parfois d'où viennent leurs bouteilles</p>
    <%= link_to 'Ajouter un vin à votre cave', new_wine_path, class:"btn btn-flat m-2"  %>
  </div>
</div>
